/* Variáveis de Cores */
:root {
  --primary-color: #4caf50; /* Verde vibrante */
  --secondary-color: #2196f3; /* Azul energético */
  --accent-color: #ffc107; /* Amarelo solar */
  --text-color: #333; /* Cinza escuro para texto */
  --light-text-color: #666; /* Cinza claro para texto secundário */
  --background-color: #f4f4f4; /* Cinza claro para fundo */
  --container-width: 1200px;
}

/* Reset de Estilos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Container Principal */
.main-container {
  /* Novo nome para o container principal */
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
}

/* Animação de escala para botões */
.btn {
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

/* Estilos do Cabeçalho */
header {
  background-color: var(--primary-color);
  color: white;
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

header:hover {
  background-color: #388e3c;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-left: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 1rem;
}

nav ul li {
  margin-left: 0.8rem;
}

/* Remove a margem do primeiro item */
nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}

nav ul li a .material-symbols-outlined {
  margin-right: 0.5rem;
}

/* Estilos para o botão de menu (responsivo) */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

/* Estilos do Herói */
#hero {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('Image/Imagem-Principal.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#hero h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  z-index: 1;
  color: var(--background-color);
}

#hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  z-index: 1;
}

#hero .btn {
  display: inline-block;
  background-color: var(--accent-color);
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  z-index: 1;
}

/* Estilos de Paralaxe */
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-content {
  padding: 5rem 0;
  position: relative;
  z-index: 1;
}

/* Estilos das Seções */
section {
  padding: 4rem 0;
}

section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

/* Estilos da Seção "Sobre" */
#sobre {
  background-color: var(--background-color);
  padding: 5rem 0;
  background-attachment: fixed; /* Fixa o background na tela */
  background-position: center; /* Centraliza o background */
  background-size: cover; /* Cobre toda a área da seção */
}

#sobre h2 {
  font-size: 2.8rem;
  margin-bottom: 3rem;
  color: var(--primary-color);
  text-align: center;
}

.sobre-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.sobre-text {
  flex: 1;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sobre-text p {
  line-height: 1.8;
}

.sobre-image {
  flex: 1;
}

.sobre-image img {
  max-width: 40%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  margin-left: 20%;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.sobre-image img:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

/* Estilos da Seção "Serviços" */
#servicos {
  background-color: var(--background-color);
  padding: 5rem 0;
}

#servicos h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.servicos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2.5rem;
}

.servico {
  background-color: white;
  padding: 2.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  align-items: center;
}

.servico:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.servico-icon {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
  color: var(--secondary-color);
  transition: transform 0.5s ease;
}

.servico:hover .servico-icon {
  transform: rotate(360deg);
}

#servicos .servicos-grid .servico:first-child span.material-symbols-outlined {
  color: var(--secondary-color);
}

.servico h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.servico p {
  line-height: 1.8;
}

/* Estilos da Seção "Vantagens" */
#vantagens {
  background-color: white;
  padding: 5rem 0;
}

#vantagens h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.vantagens-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2.5rem;
}

.vantagem {
  background-color: #f9f9f9;
  padding: 2.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vantagem:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.vantagem-icon {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: var(--accent-color);
}

.vantagem h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.vantagem p {
  line-height: 1.8;
}

/* Estilos da Seção "Calculadora" */
#calculadora {
  background-color: var(--background-color);
  padding: 5rem 0;
}

.calculadora-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.calculadora-form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.calculadora-form input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

#calcular-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#resultados {
  margin-top: 2rem;
}

#progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#progress {
  width: 0%;
  height: 100%;
  background-color: var(--primary-color);
  transition: width 0.5s ease;
  background-image: linear-gradient(to right, #4caf50, #2e7d32);
}

.calculadora-form input,
.calculadora-form button {
  transition: box-shadow 0.3s ease;
}

.calculadora-form input:focus,
.calculadora-form button:focus {
  box-shadow: 0 0 5px var(--accent-color);
}

#calcular-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#loading-message {
  font-size: 14px;
  color: var(--primary-color);
  margin-left: 10px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#resultados {
  opacity: 0;
  transition: opacity 0.5s ease;
}

#resultados.show {
  opacity: 1;
}

/* Estilos da Seção "Projetos" */
#projetos {
  background-color: white;
  align-items: center;
}

#projetos .container {
  display: flex;
  flex-direction: column;
}

#projetos h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
}

.portfolio-grid img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.portfolio-grid img:hover {
  transform: scale(1.05);
}

.portfolio-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  max-width: 800px;
  margin: 0 auto;
  margin: 3rem auto 0;
}

.portfolio-slider img {
  max-width: 80%;
  width: 45%;
  height: auto;
  scroll-snap-align: start;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 1rem;
  aspect-ratio: 16/9;
}

.portfolio-slider img:first-child {
  margin-left: 1rem;
}

.portfolio-slider img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slide {
  scroll-snap-align: start;
  flex: 0 0 calc(100% - 4rem);
}

.slide:hover figcaption {
  opacity: 1;
}

.slide img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.slide figcaption {
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--text-color);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1rem;
  line-height: 1.6;
}

/* Estilos da Seção "Portfolio" */
#portfolio .portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

#portfolio .slide {
  text-align: center;
}

#portfolio .slide img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos da Seção "Contato" */
#contato {
  background-color: white;
  padding: 5rem 0;
  text-align: center;
}

#contato h2 {
  font-size: 2.8rem;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

#contact-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact-form div {
  margin-bottom: 1.5rem;
}

#contact-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: var(--secondary-color);
}

#contact-form button {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#contact-form button:hover {
  background-color: #388e3c;
}

/* Estilos do Modal */
.modal {
  display: none; /* Escondido por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 5px var(--accent-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.success-icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Estilos para a seção FAQ */
#faq {
  background-color: var(--background-color);
  padding: 5rem 0;
}

#faq h2 {
  /* Título da seção */
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

.faq-accordion {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 60%;
  margin: 0 auto;
}

.faq-item {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.faq-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.faq-question {
  background-color: var(--primary-color);
  color: white;
  padding: 1.2rem 1.5rem;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.faq-question:hover {
  background-color: #388e3c;
}

.faq-question::before {
  content: '\276F';
  font-size: 1.2rem;
  margin-right: 1rem;
  transition: transform 0.3s ease;
}

.faq-answer {
  background-color: white;
  padding: 1.5rem;
  max-height: 0;
  overflow: hidden;
  display: none;
  transition: max-height 0.5s ease-out;
}

.faq-item.active .faq-answer {
  max-height: 500px;
  display: block;
}

.faq-item.active .faq-question::before {
  transform: rotate(90deg);
}

/* Estilos do Rodapé */
footer {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem 0;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.footer-section p {
  font-size: 1rem;
  line-height: 1.6;
  color: white;
}

.footer-section a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: var(--accent-color);
}

.footer-section i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

/* Divisórias entre as seções */
.footer-section:not(:last-child) {
  border-right: 1px solid var(--light-text-color);
}

/* Seleciona a segunda seção (Redes Sociais) */
.footer-section:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section a i:hover {
  transform: scale(1.2);
  color: var(--accent-color);
}

/* Ccontainer para os ícones */
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin: 0 0.5rem;
  border-radius: 50%;
  background-color: white;
  color: var(--primary-color);
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: transform 0.5s ease, background-color 0.5s ease;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.social-icons a:hover {
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  transform-origin: center;
}

.copyright {
  text-align: center;
  margin-top: 2rem;
  color: var(--light-text-color);
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  /* Header */
  header .container {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 1rem;
  }

  nav ul {
    display: none;
    width: 100%;
    text-align: center;
  }

  nav ul.active {
    display: block;
  }

  nav ul li {
    margin: 0.5rem 0;
  }

  nav ul li a {
    display: block;
    padding: 1rem;
  }

  /* Menu responsivo */
  .menu-toggle {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem;
  }

  .menu-toggle:focus + .menu,
  .menu:hover {
    display: block;
  }

  .menu.active {
    display: block;
  }

  /* Hero */
  #hero h1 {
    font-size: 3rem;
  }

  #hero p {
    font-size: 1rem;
  }

  /* Seções (Sobre, Serviços, Vantagens, Projetos, Portfolio, Contato) */
  section {
    padding: 3rem 0;
  }

  section h2 {
    font-size: 2rem;
  }

  /* Sobre */
  .sobre-content {
    flex-direction: column;
  }

  .sobre-text {
    text-align: center;
  }

  .sobre-text p {
    margin-bottom: 1.5rem;
  }

  .sobre-image {
    margin-top: 2rem auto;
  }

  .sobre-image img {
    max-width: 80%;
    margin: 0;
    border-radius: 10px;
  }

  .servicos-grid,
  .vantagens-grid,
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-slider img {
    width: 75%;
  }

  #projetos .container {
    padding: 0 1rem;
    align-items: flex-start;
  }

  /* Formulário de Contato */
  #contact-form {
    max-width: 100%;
  }

  /* FAQ */
  #faq .container {
    flex-direction: column;
  }

  .faq-accordion {
    width: 100%;
    max-width: none;
  }

  .faq-item {
    border-radius: 5px;
  }

  .faq-question {
    padding: 1rem;
  }

  .faq-question::before {
    font-size: 1rem;
  }

  .faq-answer {
    padding: 1rem;
  }

  /* Rodapé */
  .footer {
    padding: 1rem 0;
  }

  .footer-content {
    grid-template-columns: 1fr;
  }

  .footer-section {
    border-right: none;
    padding: 1rem 0;
  }

  .footer-section:not(:last-child) {
    border-bottom: 1px solid var(--light-text-color);
  }

  .footer-section h3 {
    margin-bottom: 0.5rem;
  }

  .footer-section p {
    font-size: 0.9rem;
  }

  .footer-section a {
    font-size: 0.9rem;
  }

  .footer-section i {
    font-size: 1rem;
    margin-right: 0.3rem;
  }

  .footer-section a i {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .servicos-grid,
  .vantagens-grid,
  .portfolio-grid {
    grid-template-columns: 1fr;
  }

  .portfolio-grid {
    grid-template-columns: 1fr;
  }

  .portfolio-slider img {
    width: 90%;
  }
}
